/*reset*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin:0;padding:0;}
img{border:none;}
li{list-style: none;}
a{text-decoration:none;color: #333}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?12ewem');
  src:  url('../fonts/icomoon.eot?12ewem#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?12ewem') format('truetype'),
    url('../fonts/icomoon.woff?12ewem') format('woff'),
    url('../fonts/icomoon.svg?12ewem#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*header*/
.header_height {
    height: 1.59375rem;
    line-height: 1.59375rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.position_r{
    position: relative;
}
.position_ab{
    position: absolute;
}

header {
    width: 100%;
    background-color: #fbcc02;
    font-family: 宋体;
    color: #333;
}
header h1 {
    width: 100%;
    font-size: 0.625rem;
    text-align: center;

}
header a.title {
    font-size: 0.5625rem;
    text-align: left;
    display: inline-block;
    left:0.28125rem;
}
header a.home {
    font-size: 0.5rem;
    text-align: right;
    display: inline-block;
    position:absolute;
    top:0;
    right:0.453125rem;
    font-family: "icomoon";

}

/*header a.home:before {
  content: "\e902";
}*/

.list {
    background-color: #eeeeee;
    padding: 0.515625rem 0.28125rem;
    margin-top: 1.59375rem;
}

.list ul li {
    font-family: "Microsoft YaHei";
    height: 1.9375rem;
    border-radius: 4px;
    border: 1px solid #dadada;
    padding: 0.203125rem 0 0.203125rem 0.296875rem;
    background-color: #fff;
    margin-bottom: 0.4375rem;
}

.list ul li .title {
    font-size: 0.5rem;
    color: #333;
    height: 0.84375rem;
    line-height: 0.84375rem;
    font-weight: bold;
}

.list ul li .about {
    font-size: 0.375rem;
    color: #a9a9a9;
    height: 0.703125rem;
    line-height: 0.84375rem;
}

.flag {
    position: absolute;
    top:1.328125rem;
    right: 0.46875rem;
}

.loading {
    text-align: center;
    height: 1.25rem;
    line-height: 1.25rem;
}
